@import "_variables.scss";
.text-effect {
  background-image: url("./img/OrangesX.png");
  font-size: 5rem;
  margin: 1rem;
  transition: all 0.3s;
  font-family: $font;
  background-position: center;
  color: transparent;
  font-size: 8rem;
  -webkit-background-clip: text;
  transition: all 0.5s;
}
.text-effect:hover {
  letter-spacing: 10rem;
  transform: rotate(180deg);
  background-image: url("./img/OrangesX.png");
  background-position: center;
  color: color(black);
}
